<ion-view title="Session Calendar">  
    <ion-content>


    <div class="container">
      <div class="sessions list" ng-init="SessionCalender()" >
		<div class="row row2 itemsl shadow_bottom text-center" ng-repeat="SessionList in SessionCalenderData">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center color_white padding_tb_10 respo_padding_0" ng-click="DisplaySessionAddress('{{SessionList.Venue_Details__c}}','{{SessionList.Choir_Group_Name__c}}')">
           <h4 class="color_white"><span class="text-uppercase">{{SessionList.Choir_Group_Name__c}} </span>| {{DateSplit(SessionList.Date__c,0)}} </h4>

           <p class="color_white"> {{Venue_Details__cSplit(SessionList.Venue_Details__c)}} | {{Venue_Details__TimeSplit(SessionList.Time_Window__c)}} </p>
        </div>
      </div>
		<!-- <a class="item  itemsl text-center list-bg-6 shadow_bottom "   >
        <h4>{{SessionList.Choir_Group_Name__c}} - {{DateSplit(SessionList.Date__c,0)}} </h4>

		<p>	{{Venue_Details__cSplit(SessionList.Venue_Details__c)}} {{SessionList.Time_Window__c}} </p>
		</a> -->
		
	
		
      </div>
    </div>
    <!-- /.container -->
    </ion-content>

</ion-view>  

	<style>
	
	.item h4 {
    margin: 0 0 4px 0;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}
.itemsl, {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial !important;
}

</style>
